// Place all the styles related to the Folio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag {
  @extend .label;
  @extend .label-default;
  font-size: 10pt !important;
}

.folio-user-image {
  display: inline-block;
  float: left;
  width: 100px;
  padding: 5px;
}
